body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#container {
  background-image: url(images/roadmap.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  opacity: 0.5;
}

.heart {
  position: absolute;
  left:40%;
  top:40%;
  width: 20%;
  height: 30%;
  mix-blend-mode: multiply;

  opacity: 1.0;
}

.video {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  mix-blend-mode: multiply;
  opacity: 0.7;
}

.audio {
  position: fixed;
  top: 0;
  z-index: 10;
}


@keyframes heartbeat {
    0% { transform: scale(1.0); }
    10%{ transform: scale(1.4); }
    17% { transform: scale(1.0); }
    30% { transform: scale(1.4); }
    37% { transform: scale(1); }
    50% { transform: scale(1.4); }
    56% { transform: scale(1.0); }
    70% { transform: scale(1.4); }
    78% { transform: scale(1); }
    90% { transform: scale(1.2); }
    100% { transform: scale(1.4); }
}

.heart {
    animation-name: heartbeat;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
